<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="use_sql_comments">false</property>
        <property name="dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@:1521/xe</property>
        <property name="hibernate.connection.username">SYSTEM</property>
         <property name="hibernate.connection.password">SYSTEM</property>
        <!-- add classes to map from here -->
        <mapping class="model.Author" />
        <mapping class="model.Book" />
        <mapping class="model.Student" />
        <mapping class="model.Address" />
        <mapping class="model.University" />
        <mapping class="model.Student_Info" />
    </session-factory>
</hibernate-configuration>